<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles-candidate.css">
    <title>Index Candidate</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>Glasgow Coder Collective</h1>
        </div>
        <nav>
            <ul class="navbar">
                    <a href="#videos"><li class="navitem">Videos</li></a>
                    <a href="#about"><li class="navitem">About</li></a>
            </ul>
        </nav>
    </header>
</body>
</html>