<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles-candidate.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
    <title>Index Candidate</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="title">
                <h1>Glasgow Coder Collective</h1>
            </div>
            <nav>
                <ul class="navbar">
                    <a href="#videos">
                        <li class="navitem">Videos</li>
                    </a>
                    <a href="#about">
                        <li class="navitem">About</li>
                    </a>
                </ul>
            </nav>
        </header>
        <main>
            <div class="features">
                <div class="feature">
                    <h1>Cake</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati in perferendis exercitationem repellat
                        pariatur dolorem ipsum eum officia atque a! Autem, corporis corrupti. Sunt unde quidem esse illum
                        id quo quae ducimus corporis ea iusto et fuga voluptates atque, harum, dolores repellat, nam cum
                        error nemo magnam quasi vitae doloribus?</p>
                </div>
                <div class="feature">
                    <h1>Coffee</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati in perferendis exercitationem repellat
                        pariatur dolorem ipsum eum officia atque a! Autem, corporis corrupti. Sunt unde quidem esse illum
                        id quo quae ducimus corporis ea iusto et fuga voluptates atque, harum, dolores repellat, nam cum
                        error nemo magnam quasi vitae doloribus?</p>
                </div>
                <div class="feature">
                    <h1>Code</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati in perferendis exercitationem repellat
                        pariatur dolorem ipsum eum officia atque a! Autem, corporis corrupti. Sunt unde quidem esse illum
                        id quo quae ducimus corporis ea iusto et fuga voluptates atque, harum, dolores repellat, nam cum
                        error nemo magnam quasi vitae doloribus?</p>
                </div>
            </div>
            <script>
                var bodyPaddingTop = document.querySelector('header').clientHeight;
                document.querySelector('main').style.paddingTop = bodyPaddingTop + 'px';
            </script>
            <div class="workshops">
                <h1>Workshops coming up</h1>
                <!-- Start dynamic content -->
                <div class="grid"></div>
                <!-- End dynamic content -->
            </div>
            <div class="slack">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni totam consectetur maiores, consequatur quo
                    vel recusandae dolor eum aperiam, accusamus facere nulla modi cupiditate excepturi? Pariatur laudantium,
                    error aliquam cupiditate possimus commodi delectus culpa vel officia optio! Dicta, magnam accusantium
                    quia corrupti fuga molestiae quod labore, praesentium ut, impedit aut.</p>
                <a href="https://join.slack.com/t/gla-web-dev/shared_invite/enQtMzE5OTY0NzEyNDM5LWI3ZTUxM2I5MzA5OTUxOTlhNDIzMmQ2ZDhiZTZjNTI3YjljZDlkOThmMjE0NDc4NDAzNmVmOTU4ZDkxMmI5NzM"
                    class="slack-btn" target="_blank" rel="noopener noreferrer"><i class="fab fa-slack"></i> Check us out on Slack</a>
            </div>
        </main>
        <footer>
            <h1>Google us!</h1>
            <div class="links">
                <a href="https://www.facebook.com/groups/136019366986372/"><i class="fab fa-facebook-square social"></i></a>
                <a href="https://github.com/GlasgowCoderCollective/"><i class="fab fa-github social"></i></a>
            </div>
            <div class="tribute">In memory of handsome Neil, who we sadly lost in December 2017</div>
        </footer>
    </div>
    <script src="js/featuresloader.js"></script>
    <script src="js/workshopsloader.js"></script>
</body>

</html>