<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">
    <title>GlasgowCoderCollective</title>
</head>

<body>
    <div class="container">
        <header>
            <img src="/img/gcclogo.png" style="width: 100px; height: 100px;" alt="gcc logo">
            <div class="title">
                <h1 style="display: inline;">Glasgow Coder Collective</h1>
            </div>
            <nav>
                <ul class="navbar">
                    <a href="/index">
                        <li class="navitem">Home</li>
                    <a href="/videos">
                        <li class="navitem">Videos</li>
                    </a>
                    <a href="#about">
                        <li class="navitem">About</li>
                    </a>
                </ul>
            </nav>
        </header>
        <main>
            <div class="features">
                <div class="feature">
                    <h1>Connect</h1>
                    <p>Hang out with coders of all backgrounds and levels. Collaborate and solve problems more creatively with
                        diverse skillsets!</p>
                </div>
                <div class="feature">
                    <h1>Code</h1>
                    <p>
                        Social coding == fun! Hit problems with projects, tutorials or understanding concepts?! Ask for some help … or share your
                        expertise!
                    </p>
                </div>
                <div class="feature">
                    <h1>Chat</h1>
                    <p>Share and discuss experiences and ideas or random gifs, articles, miscellaneous geeky chat and jokes.
                        It’s up to you!</p>
                </div>
            </div>
            <!-- <div class="workshops">
                <h1>Workshops coming up</h1>
                <div class="grid"></div>
            </div> -->
            <div class="workshops">
                <h1>Upcoming workshops</h1>
                <br>
                <p>
                    Ed will be sharing his love of Phaser, after completing his first tech talk on the subject, at CodeCraft's first time speakers event.  Will be more hands on, and hopefully get some projects on the go!
                </p>
                <br>
                <p>No set date yet, so watch this space!!</p>
            </div>

            <div class="featured-section">
                <div class="featured-section-text">
                    <h1 class="workshop-title">Test Heading</h1>
                    <p class="workshop-description">Test Description</p>
                    <p class="youtube-referral">More workshops can be found on out
                        <a href="https://www.youtube.com/channel/UCW1GG-QroKAV5No7xzVssJw" target="_blank">YouTube channel</a>
                    </p>
                </div>
                <iframe class="workshop-frame" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </main>
        <footer>
            <h1>Google us!</h1>
            <div class="links">
                <a href="https://www.facebook.com/groups/136019366986372/">
                    <i class="fab fa-facebook-square social"></i>
                </a>
                <a href="https://github.com/GlasgowCoderCollective/">
                    <i class="fab fa-github social"></i>
                </a>
                <a href="https://join.slack.com/t/glacodercollective/shared_invite/enQtNDEzMDg4NDc2ODE2LTg0MjQwMjUxOGM1MDgzNmNhZTBjMDRlZGUxNWI2NDY2NTQyNWYxZDU3YTVjYzM3NzI0NGUxMTQ4MzgxYjlkNTY"
                    class="slack-btn" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-slack social"></i>
                </a>
            </div>
            <div class="tribute">In memory of handsome Neil, who we sadly lost in December 2017</div>
        </footer>
    </div>
    <script src="js/featuresloader.js"></script>
    <script src="js/workshopsloader.js"></script>
    <script src="js/workshop_youtube.js"></script>
</body>

</html>
