<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">
    <title>GlasgowCoderCollective - Videos</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="title">
                <h1>Glasgow Coder Collective</h1>
            </div>
            <nav>
                <ul class="navbar">
                    <a href="/videos">
                        <li class="navitem">Videos</li>
                    </a>
                    <!-- <a href="#about">
                        <li class="navitem">About</li>
                    </a> -->
                </ul>
            </nav>
        </header>
        <i class="fas fa-spinner"></i>
        <div class="loader">
            <main>
                <div class="videos-info">
                    <p>Did you know that the Glasgow Coder Collective takes part in live events</p>
                    <p>Here, you can find a selection of videos from our very own YouTube channel.</p>
                </div>
                <div class="video-grid"></div>
            </main>
            <footer>
                <h1>Google us!</h1>
                <div class="links">
                    <a href="https://www.facebook.com/groups/136019366986372/">
                        <i class="fab fa-facebook-square social"></i>
                    </a>
                    <a href="https://github.com/GlasgowCoderCollective/">
                        <i class="fab fa-github social"></i>
                    </a>
                    <a href="https://join.slack.com/t/gla-web-dev/shared_invite/enQtMzE5OTY0NzEyNDM5LWI3ZTUxM2I5MzA5OTUxOTlhNDIzMmQ2ZDhiZTZjNTI3YjljZDlkOThmMjE0NDc4NDAzNmVmOTU4ZDkxMmI5NzM"
                        class="slack-btn" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-slack social"></i>
                    </a>
                </div>
                <div class="tribute">In memory of handsome Neil, who we sadly lost in December 2017</div>
            </footer>
        </div>
    </div>
    <script src="/js/videos.js"></script>
</body>

</html>