* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
}

header {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    justify-content: space-between;
    padding: 0 1em;
    background: #328AAB;
    color: #FFFFFF;
}

.title {
    margin: auto 0;
    font-size: 1rem;
}

.title>h1::after {
    content: 'Connecting coders since \'17';
    display: block;
    margin-top: .2em;
    font-size: .6rem;
}

.navbar {
    list-style: none;
}

.navbar>a {
    text-decoration: none;
    color: #FFFFFF;
}

.navitem {
    display: inline-block;
    padding: 1em;
    font-size: .9rem;
    border-bottom: 5px solid transparent;
    transition: border-color linear .2s;
}

.navitem:hover {
    border-color: #723389;
}

.features {
    display: flex;
    background: url('/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.feature {
    margin: 1.3em;
    padding: 1em;
    text-align: center;
    background: rgba(114, 51, 137, .7);
    color: #FFFFFF;
}

.feature>h1 {
    padding-bottom: 1em;
}