* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
  font-family: "Questrial", sans-serif;
}

body{
  overflow-x: hidden;
}


.container {
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 1em;
  background: #328aab;
  color: #ffffff;
}

.title {
  margin: auto 0;
  font-size: 1rem;
  justify-self: flex-start;
}

.title > h1::after {
  content: "Connecting coders since '17";
  display: block;
  margin-top: 0.2em;
  font-size: 0.6rem;
  padding-left: 50px;
}

.navbar {
  list-style: none;
  padding: 20px 0 0 0;
}

.navbar > a,
.workshop > a {
  text-decoration: none;
  color: #ffffff;
}

.navitem {
  display: inline-block;
  padding: 1em;
  font-size: 0.9rem;
  border-bottom: 5px solid transparent;
  transition: border-color linear 0.2s;
}

.navitem:hover {
  border-color: #723389;
}

.hero {
  overflow-y: hidden;
  min-height: 90vh;
  background: url("/img/newbg.jpg") no-repeat center;
  background-size: cover;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));  
  grid-gap: 2em;
  padding:4em;
  width:100%;
  
}

.feature {
  
  display:grid;
  padding: 1em;
  text-align: center;
  background: rgba(114, 51, 137, 0.5);
  color: #ffffff;
  opacity: 0;
  transition: opacity linear 0.5s;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.feature >h1{
  font-size: 1.4rem;
  
}
.feature > h1, p{
  height:100%;
  }

.feature > h1 {
  padding-bottom: 1em;
}

.workshops {
  padding: 3em;
  margin:4rem;
  background: #328aab;
  color: #ffffff;
  opacity: 0.65;
}

.grid {
  display: flex;
}

.workshop {
  margin: 1em;
  padding: 1em;
  background: #723389;
}

.workshop > p {
  margin: 1em 1em;
  font-size: 1rem;
}

.workshop > a {
  transition: color linear 0.2s;
}

.workshop > a:hover {
  color: #328aab;
}

.featured-section {
  display: flex;
  margin:40px;
  padding: 4em;
  justify-content: space-evenly;
  background: #723389;
  color: white;
}

.featured-section-text {
  max-width: 60%;
}

.workshop-description {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.youtube-referral {
  font-weight: bold;
}

.youtube-referral > a {
  color: white;
}

footer {
  padding: 1em;
  background: #328aab;
  color: #ffffff;
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: center;
}

.links>a {
  color: #ffffff;
  margin: 1em .5em;
  text-decoration: none;
}

.video-grid {
  min-height: 80vh;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.videos-info {
  margin: 1rem;
  text-align: center;
}

.fa-spinner {
  animation: spinnerAnim 1s linear infinite;
  font-size: 3rem;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.loader {
  opacity: 0;
}

.show {
  opacity: 1;
}

.hide {
  display: none !important;
}

.tribute {
  text-align: center;
  font-size: .8rem;
  font-style: italic;
}

.fab {
  vertical-align: middle;
  font-size: 1.5rem;
}

footer > h1 {
  font-size: 1rem;
  text-align: center;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0em;
}

.social{
  font-size:1.7rem;
}
@keyframes spinnerAnim {
  to { transform: rotateZ(360deg); }
}

#about {
  padding: 0 4em;
}

.hidden {
  display: none;
}

.resourcesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.resources {
  list-style-type: none;
}

@media only screen and (min-width: 550px) {
  .feature>p {
    font-size: 1.1rem;
  }
}