.navbar{
  padding:1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0 !important;
}

.navbar-header>h4{
  color: #b2d8d8;
  padding: 0px !important;
}

.main_container{
 /* background-image:url("group2.jpg"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  margin-top: -30px;
}
.container{
  padding:0 10px 0 10px;
  background-color: #004c4c;
  border-radius: none;
}

/*
section{
  margin:25px;
  padding:20px;
  background-color: white;
  display:grid;
  grid-template-columns: 1fr;
}*/

section{
  border-radius: 5px;
  text-align: center;
}

h1,h2,h3,h4{
  text-align: center;
  font-weight: bold;
}

h4{
  padding: 30px 0 5px 0;
}

.about{
  background-color: white;
  opacity:0.7;
  padding: 30px !important;
  border-radius: 5px;

}

.join{
  grid-column: 1;
  text-align: center;
  margin:auto;
  width:400px;
}

.g-recaptcha{
  width:70px;
}

footer{
  background-color: black;
  color:#b2d8d8;
  text-align: center;
  margin-bottom: 20px 0 -10px 0;
  padding:10px;
}

footer>p{
  padding:5px;
}
