.navbar{
  padding:1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0 !important;
}

.navbar-header>h4{
  color: #b2d8d8;
  padding: 0px !important;
}

.main_container{
 /* background-image:url("group2.jpg"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 25px;
  margin-top: -30px;
}
.container{
  padding:0 10px 0 10px;
  background-color: #004c4c;
  border-radius: none;
}

/*
section{
  margin:25px;
  padding:20px;
  background-color: white;
  display:grid;
  grid-template-columns: 1fr;
}*/

section{
  border-radius: 5px;
  text-align: center;
}

h1,h2,h3,h4{
  text-align: center;
  font-weight: bold;
}

h4{
  padding: 15px 0 15px 0;
}

.box>p{
  padding:0 20px 0 20px;
}
.about{
  background-color: white;
  opacity:0.7;
  padding: 30px !important;
  border-radius: 5px;
}

.box{
  background-color:#b2d8d8;
  border-radius: 5px;
  padding:20px;
}

.join{
  grid-column: 1;
  text-align: center;
  margin:auto;
  width:400px;
}

.slack-btn {
  text-decoration: none;
  padding: 1em;
  display: block;
  margin: 1em auto;
  color: rgb(51, 51, 51);
}

.slack-btn-outline {
  border: 2px solid rgb(51, 51, 51);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 10px;
}

.slack-btn-transition {
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.slack-btn:hover {
  background: rgb(51, 51, 51);
  color: white;
  text-decoration: none;
}

footer{
  background-color: black;
  color:#b2d8d8;
  text-align: center;
  margin-bottom: 20px 0 -10px 0;
  padding:10px;
}

footer>p{
  padding:5px;
}
